/*yang valid adalah yang lebih bawah*/
p	{
	color: red;
}

p	{
	color: green;
}

/*
specificity (bobot):
- elemen HTML -> 1
- class -> 10
- id -> 100 (tidak disarankan)
- inline CSS -> 1000 (sangat tidak disarankan)
*/

/*#p1 lebih spesifik (berbobot) dibanding p*/
/*bobot: 1 id = 0100*/
#p1	{
	color: red;
}

/*bobot: 2 elemen HTML + 1 id = 0102*/
ul#sarapan li {
	color: green;
}

/*bobot: 1 class = 0010*/
.favorit {
	color: red;
}

/*bobot: 2 elemen HTML + 1 class + 1 id = 0112*/
ul#sarapan li.favorit {
	color: red;
}