h1	{
	color: blue;

	/*cari di komputer user font Arial, kalo ga ada cari font Verdana, kalo ga ada cari Sans-Serif*/
	/*Sans-Serif: tanpa kaki*/
	font-family: arial, verdana, sans-serif;

	font-size: 100px;

	/*value: normal || bold*/
	font-weight: normal;

	/*value: normal || italic*/
	font-style: italic;
}

p	{
	font-family: georgia, serif;

	/*value: ...px || normal*/
	line-height: 50px;	
}